
.title-page{
    margin-left: 1rem;
    font-style: italic;
    margin-top: 8rem;
    font-size: 2rem;
    font-weight: bold;
}
.label-search{
    color: white;
}
.logout_button{
    display: block;
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    border:.1rem solid #ff0000;
    cursor: pointer;
}
.button-validate{
    color: white;
}