.form-submit {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin: 0 auto;
  max-width: 40rem;
  height: auto;
  gap: 0.5rem;
}
.span-text-length {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}
.form-submit > textarea {
  position: relative;
}
.form-submit > textarea {
  position: relative;
}
.form-submit > textarea,
.form-submit > input {
  color: black;
  padding: 0.5rem;
  border-radius: 1rem;
}
.rating {
  margin-left: auto;
  width: 20rem;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
.rating__star {
  clip-path: polygon(
    50% 0,
    calc(50% * (1 + sin(0.4turn))) calc(50% * (1 - cos(0.4turn))),
    calc(50% * (1 - sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
    calc(50% * (1 + sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
    calc(50% * (1 - sin(0.4turn))) calc(50% * (1 - cos(0.4turn)))
  );
  padding: 1rem;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
}

.submit {
  min-width: 220px;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 1;
  height: 50px;
  border: none;
  outline: none;
  color: #000000;
  background: #ffffff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  position: relative;
  z-index: 10;
  border-radius: 4rem;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.submit:before {
  content: "";
  background: linear-gradient(
    95deg,
    gold,
    #000000,
    gold,
    #000000,
    gold,
    #000000,
    gold,
    #000000,
    gold
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 40s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 4rem;
}

.submit:active {
  color: #000;
}

.submit:active:after {
  background: transparent;
}

.submit:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 4rem;
}
