.dashboard-section {
  display: block;
  margin-top: 10rem;
}

.form-dashboard >input{
    width: 100%;
    padding: 0.5rem;
    border: none;
}
.form-dashboard {
  padding:1rem;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;

  background-color: rgb(255, 255, 255);
  display: flex;
  width: 27rem;
  margin: 0 auto;
}
.form-dashboard>input{
    border-bottom: .1rem solid ;
}
.form-dashboard > * {
    color: black;
  margin-top: 1rem;
}

.signup_button {
  background-color: #000000;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
}
