.container-grid {
  display: flex;
  background-color: black;
  justify-content: space-around;
  height: 80vh;
  align-items: center;
}
.grid-item {
}
.grid-item > h1 {
  color: white;
  font-size: 44px;
  font-weight: 600;
}
.grid-item > p {
  color: white;

  font-size: 24px;
  max-width: 25rem;
}
.grid-item > button {
  border-radius: 0.75rem;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1rem;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}
.grid-image {
  align-items: center;
  object-fit: cover;

  width: 35rem;

  position: relative;
}

.overlay_blur {
    top: 0;
    left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 1.6064893018018018%,
    rgb(0, 0, 0) 100%
  );
  overflow: hidden;
  position: absolute;
  border-radius: 0px 0px 0px 0px;
}
.imgMobile{
    display: none;
}

@media screen and (max-width:768px){
    .container-grid {
        flex-direction: column;
        height: 60vh;

    }
    .grid-image{
        display: none;
    }
    .grid-item{
        position: relative;
        padding: 1rem;
    }
    .imgMobile{
        display: block;
        position: absolute;
        z-index: -2;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        object-fit:fill;

       
    }
    .overlay_blur_mobile {
        position: absolute;
        background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(0, 0, 0, 0) 1.6064893018018018%,
            rgb(0, 0, 0) 100%
          );
          left: 0;
          right: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
}
