.heroSection {
  height: 100vh;
  background-image: url('../public/assets/background_banniere.jpg');
  background-size: cover;
  background-position: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSection > h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}

.heroSection > p {
  width: 20rem;
  font-size: 1.2rem;
  color: #ffffffb2;
  text-align: center;
}
.button {
  margin-top: 3rem;
  padding: 15px 40px;
  font-size: 1rem;
  color: #000000;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: white;
}


@media screen and (max-width:768px){
  .heroSection > h1 {
    text-align: center;
    font-size: 2.2rem;
  }
  .heroSection {
    height: 60vh;
    background-image: url('../public/assets/background_banniere.jpg');
    background-size: 90%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: bottom center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}