.heroSection {
  height: 100vh;
  position: relative;
  gap: 1rem;
  margin-top: -7rem;
  background-image: url("../public/assets/background_banniere.jpg");
  background-size: 59rem;
  background-position: bottom;
  flex-direction: column;
  display: flex;
  background-repeat: no-repeat no-repeat;
  justify-content: center;
  align-items: center;
}



.title {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.paragraph {
  width: 20rem;
  font-size: 1.2rem;
  color: #ffffffb2;
  text-align: center;
}

.button {
  width: 220px;
  justify-content: center;
  align-items: center;
  display: flex;
  
  bottom: 0;
  opacity: 1;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: absolute !important;
  z-index: 10;
  border-radius: 4rem;
}

.button:before {
  content: '';
  background: linear-gradient(95deg, #ffffff68, #000000, #ffffff68, #000000, #ffffff68, #000000, #ffffff68, #000000, #ffffff68);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 40s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 4rem;
}

.button:active {
  color: #000
}

.button:active:after {
  background: transparent;
}


.button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 4rem;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/* .button {
  margin-top: 3rem;
  padding: 15px 40px;
  font-size: 1rem;
  color: #000000;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: white;
} */

@media screen and (max-width: 768px) {
  .button{
    bottom: -4rem;
  }
  .title {
    text-align: center;
    font-size: 2.2rem;
  }
  .heroSection {
    position: relative;
    margin-top: 3rem;
    height: 60vh;
    background-image: url("../public/assets/background_banniere.jpg");
    background-size: 90%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: bottom center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
