.logoPng {
  width: 6rem;
}
.fixed-hellobar>img {
  width: 3rem;
  margin-left: 1rem;
}
.fixed-hellobar{
  align-items: center;
  text-align: center;
  justify-content: center;
  color: black;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  height: 2.75rem;
}


/* .navmenu {
  opacity: 1;
  visibility: visible;
  top: 0;
  transition: all 0.3s ease-in-out;
  top: 4rem;
  width: 100%;
  z-index: 100;
  height: 20rem;
  background: rgb(0, 0, 0);
} */

/* .navmenu.s {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: -19rem;
  width: 100%;
  z-index: 100;
  height: 20rem;
  background: rgb(0, 0, 0);
} */
.navmenu ul li a {
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
}

.navmenu ul {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  height: 100%;
  margin-left: 2rem;
  list-style: none;
}



@media screen and (max-width:768px){
  .fixed-hellobar>img {
    width: 2.5rem;
    margin-left: .5rem;
  }
  .fixed-hellobar{
    font-size: .8rem;
  }
}
