.profil-driver-section {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profil-driver-image {
  background: conic-gradient(
    from 0deg at 50% 50%,
    #ffffff 0deg,
    rgb(171, 171, 171) 360deg
  );

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.profil-driver-container {
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.profil-driver-container-2::-webkit-scrollbar{
    display: none;
}
.profil-driver-container-2 {
  padding: 1rem;
  overflow-x: scroll;
  align-items: center;
  gap: 1rem;
  display: grid;
  max-width: 95%;
  margin: 0 auto;
  grid-template-columns: repeat(4,1fr);
}

.item-driver-adj {
  width: 20rem;

  justify-content: center;
  align-items: center;
  display: flex;
  height: 9rem;
  border-radius: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: conic-gradient(
    from 0deg at 50% 50%,
    #2a4f57 0deg,
    rgb(0, 0, 0) 360deg
  );
  background-color: white;
}
.profil-driver-container-2 > .item-driver-adj:first-child {
  background-image:     url('/assets/caracteristiques/3.jpg');
  background-size: cover;
  background-position: center center;
}
.profil-driver-container-2 > .item-driver-adj:nth-child(2) {
  background-image:     url('/assets/caracteristiques/4.jpg');
  background-size: cover;
  background-position: center center;
}
.profil-driver-container-2 > .item-driver-adj:nth-child(3) {
  background-image:     url('/assets/caracteristiques/5.jpg');
  background-size: cover;
  background-position: center center;

}
.profil-driver-list{
  width: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: -1rem;
}

.profil-driver-container-2 > .item-driver-adj:nth-child(4) {
  background-image:     url('/assets/caracteristiques/6.jpg');
  background-size: cover;
  background-position: center center;
}
